nav {
  display: flex;
  height: 60px;
  z-index: 100;
}

.selected{
  background: white;
  color: black;
}

.defaulted{
  background: black;
  color: white;
}

nav li{
  flex-direction: column;
  color: #eee;
  display:inline-flex;
  flex: 1;
  text-align: center;
  line-height: 3;
}

nav li:hover, nav li:active{
  color: #c00;
}

.nav-button{
  cursor: pointer;
}
