body{
  font-family: Roboto;
  /* padding-top: constant(safe-area-inset-top);  */
  padding-top: constant(safe-area-inset-top);
  /* iOS 11.0 */
  padding-top: env(safe-area-inset-top);
  /* iOS 11.2 */
}

#root, body {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-size: cover;
  overflow: hidden;
}

main{
  background-color: white;
  flex: 1;
  padding: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-size: cover;
  height: 100vh;
}

footer {
  margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}
